.img-area {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.single-img {
    padding: 20px;
}

img:hover {
    opacity: .5;
    transition: .9;
}